body {
    background-color: #14213d;
}

h1{
    color: #ffffff !important;
}

.navbar{
    background-color: #14213d !important;
    
}

.navbar-brand{
    color: #ffffff !important;
}

.card {
    border-radius: 15px;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}