{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row mb-4 align-items-stretch">
    <div class="col-md-6 d-flex">
        <div class="card card-style-purple shadow-sm dashboard-card flex-fill">

            <div class="card-body card-style text-center">
            <div>
                <img
                    src="{% static 'images/receipt-placeholder.png' %}"
                    alt="Cash Stack"
                >
            </div>
            <div>
            <h5 class="card-title">
                Total Expenses
            </h5>
            <h2>
                {{ total_expenses }}
            </h2>
            </div>

            </div>
        </div>
    </div>

    <div class="col-md-6 d-flex">
        <div class="card shadow-sm dashboard-card flex-fill">
            <div class="card-body card-style text-center">
               <div>
                    <img
                        src="{% static 'images/dollar-placeholder.png' %}"
                        alt="Cash Stack"
                    >
               </div>
               <div>
                <h5 class="card-title">
                   Total Amount
                </h5>
                    <h2>
                        ${{ total_amount|floatformat:2|default:"0.00" }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-4 d-flex">
       <div class="card shadow-sm dashboard-card chart-card flex-fill">
          <h5 class="card-title card-title-style text-center">
            Expenses By Category
          </h5>
          <div class="card-body">
            <canvas id="categoryChart" height="220"></canvas>
          </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <h5 class="card-header">
        Add Expense
    </h5>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    Date
                </label>
                {{ form.date }}
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    Category
                </label>
                {{ form.category }}
            </div>

            </div>

            <div class="mb-3">
                <label class="form-label">
                    Description
                </label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Amount
                </label>
                {{ form.amount }}
            </div>

            <button
                type="submit"
                class="btn btn-main"
            >
                Save Expense
            </button>

            <!-- <button
                type="submit"
                class="btn btn-primary"
            >
                Save Expense
            </button> -->

        </form>

    </div>

</div>
<script>
  const categoryLabels = [
    {% for item in category_totals %}
        "{{ item.category }}",
    {% endfor %}
  ];

  const categoryAmounts = [
    {% for item in category_totals %}
        {{ item.total }},
    {% endfor %}
  ];

const ctx = document.getElementById('categoryChart');


new Chart(ctx, {
    type: 'bar',

    data: {
        labels: categoryLabels,

        datasets: [{
            label: 'Expenses',
            data: categoryAmounts,
            backgroundColor: '#5B5BD6',
            hoverBackgroundColor: '#7474E8',
            borderRadius: 8,
            barThickness: 100
        }]
    },

    options: {
        responsive: true,
        plugins: {
            legend: {
                display: false
            }
        },

        scales: {
            x: {
                grid: {
                    display: false
                },

                ticks: {
                    color: '#6B7280',
                    font: {
                        family: 'Inter',
                        size: 12
                    }
                }
            },

            y: {
                beginAtZero: true,

                grid: {
                    color: '#E5E7EB'
                },

                ticks: {
                    color: '#6B7280',
                    font: {
                        family: 'Inter',
                        size: 12
                    }
                }
            }
        }
    }
});

</script>

{% endblock %}
