{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    RightOff Dashboard
</h1>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">

                <h5 class="card-title">
                    Total Expenses
                </h5>

                <h2>
                    {{ total_expenses }}
                </h2>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">

                <h5 class="card-title">
                    Total Amount
                </h5>

                <h2>
                    ${{ total_amount|floatformat:2|default:"0.00" }}
                </h2>

            </div>
        </div>
    </div>

    <div class="col-md-4">
       <div class="card shadow-sm">
          <h5 class="card-title text-center">
            Expenses By Category
          </h5>
          <div class="card-body">
            <canvas id="categoryChart"></canvas>
          </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">

    <div class="card-header">
        Add Expense
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    Date
                </label>
                {{ form.date }}
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    Category
                </label>
                {{ form.category }}
            </div>

            </div>

            <div class="mb-3">
                <label class="form-label">
                    Description
                </label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Amount
                </label>
                {{ form.amount }}
            </div>

            <button
                type="submit"
                class="btn btn-primary"
            >
                Save Expense
            </button>

            <!-- <button
                type="submit"
                class="btn btn-primary"
            >
                Save Expense
            </button> -->

        </form>

    </div>

</div>
<script>
  const categoryLabels = [
    {% for item in category_totals %}
        "{{ item.category }}",
    {% endfor %}
  ];

  const categoryAmounts = [
    {% for item in category_totals %}
        {{ item.total }},
    {% endfor %}
  ];

const ctx = document.getElementById('categoryChart');

new Chart(ctx, {
    type: 'bar',

    data: {
        labels: categoryLabels,

        datasets: [{
            label: 'Expenses',

            data: categoryAmounts
        }]
    }
});

</script>

{% endblock %}
